In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-04-16 01:37:33,3.0707,172.7902,82.47,74,99,8.12
1,1,Waycross,US,2021-04-16 01:37:33,31.2136,-82.3540,66.20,94,90,3.44
2,2,Bonfim,BR,2021-04-16 01:37:33,3.0833,-59.9500,79.52,78,80,7.78
3,3,Onega,RU,2021-04-16 01:37:34,63.9061,38.1404,28.65,91,10,3.96
4,4,Talnakh,RU,2021-04-16 01:37:34,69.4865,88.3972,-15.54,95,90,17.13

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

### Heatmap

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Percent Humidity Heatmap

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Percent Clouidness Heatmap

In [7]:
# Heatmap of percent clouidness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Wind Speed Heatmap

In [8]:
# Heatmap of wind speed heatmap
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Ask the user for input

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-04-16 01:37:33,3.0707,172.7902,82.47,74,99,8.12
2,2,Bonfim,BR,2021-04-16 01:37:33,3.0833,-59.9500,79.52,78,80,7.78
6,6,Berekum,GH,2021-04-16 01:37:34,7.4534,-2.5840,75.33,80,95,5.59
7,7,Rikitea,PF,2021-04-16 01:37:35,-23.1203,-134.9692,77.70,74,87,11.01
9,9,Port Macquarie,AU,2021-04-16 01:35:24,-31.4333,152.9167,75.00,38,44,4.00
10,10,Atuona,PF,2021-04-16 01:37:35,-9.8000,-139.0333,80.91,69,56,15.95
15,15,Saint-Philippe,RE,2021-04-16 01:37:36,-21.3585,55.7679,77.00,69,0,5.75
16,16,Kahului,US,2021-04-16 01:34:25,20.8947,-156.4700,80.60,54,1,14.97
19,19,Cidreira,BR,2021-04-16 01:37:37,-30.1811,-50.2056,71.69,79,96,14.88
25,25,Adrar,MR,2021-04-16 01:37:40,20.5022,-10.0711,73.18,23,58,11.56

In [11]:
# Check for null values in preferred_cities_df
preferred_cities_df.count()

City_ID       216
City          216
Country       215
Date          216
Lat           216
Lng           216
Max Temp      216
Humidity      216
Cloudiness    216
Wind Speed    216
dtype: int64

In [12]:
clean_preferred_cities_df=preferred_cities_df.dropna()
clean_preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-04-16 01:37:33,3.0707,172.7902,82.47,74,99,8.12
2,2,Bonfim,BR,2021-04-16 01:37:33,3.0833,-59.9500,79.52,78,80,7.78
6,6,Berekum,GH,2021-04-16 01:37:34,7.4534,-2.5840,75.33,80,95,5.59
7,7,Rikitea,PF,2021-04-16 01:37:35,-23.1203,-134.9692,77.70,74,87,11.01
9,9,Port Macquarie,AU,2021-04-16 01:35:24,-31.4333,152.9167,75.00,38,44,4.00

In [13]:
clean_preferred_cities_df.count()

City_ID       215
City          215
Country       215
Date          215
Lat           215
Lng           215
Max Temp      215
Humidity      215
Cloudiness    215
Wind Speed    215
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df

                City Country  Max Temp      Lat       Lng Hotel Name
0         Butaritari      KI     82.47   3.0707  172.7902
2             Bonfim      BR     79.52   3.0833  -59.9500
6            Berekum      GH     75.33   7.4534   -2.5840
7            Rikitea      PF     77.70 -23.1203 -134.9692
9     Port Macquarie      AU     75.00 -31.4333  152.9167
..               ...     ...       ...      ...       ...        ...
573        Indramayu      ID     82.31  -6.3264  108.3200
574             Tezu      IN     82.56  27.9167   96.1667
577             Boke      GN     77.20  10.9409  -14.2967
579        Nang Rong      TH     84.99  14.6377  102.7914
581  Puerto Ayacucho      VE     76.69   5.6639  -67.6236

[215 rows x 6 columns]

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

### Hotel DataFrame

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,82.47,3.0707,172.7902,Isles Sunset Lodge
2,Bonfim,BR,79.52,3.0833,-59.9500,
6,Berekum,GH,75.33,7.4534,-2.5840,Nyame Nnae Hotel
7,Rikitea,PF,77.70,-23.1203,-134.9692,Pension Maro'i
9,Port Macquarie,AU,75.00,-31.4333,152.9167,Rydges Port Macquarie
...,...,...,...,...,...,...
573,Indramayu,ID,82.31,-6.3264,108.3200,Grand Trisula Hotel
574,Tezu,IN,82.56,27.9167,96.1667,Circuit House
577,Boke,GN,77.20,10.9409,-14.2967,Hôtel Rio Nunez - Boké
579,Nang Rong,TH,84.99,14.6377,102.7914,Phanomrungpuri Boutique Hotels & Resorts
581,Puerto Ayacucho,VE,76.69,5.6639,-67.6236,Posada Turistica Manapiare

### Maximum Temperature Heatmap with Markers for Hotel DataFrame

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]